$black: #000000;
$blackWithOpacity: rgba($black, 0.16);
$blue: #3992bf;
$darkBlue: #223046;
$darkerBlue: #006db0;
$darkGray: #707070;
$dimBlue: #505b6c;
$dimGray: #7f7f7f;
$dimGreen: #20b98b;
$gray: #797979;
$green: #0aba8a;
$lightGray: #909090;
$lighterGrey: #e9e5e5;
$middleBlue: #0f6eae;
$orange: #f0662f;
$red: #ff0000;
$silver: #c0c0c0;
$silverGray: #e8e4e4;
$summerSky: #2d6dab;
$veniceBlue: #244c73;
$whiskeySour: #2d6dab;
$whisper: #e8e5e5;
$white: #ffffff;

$actionButtonBackgrounColor: $middleBlue;
$actionButtonTextColor: $white;
$alertCountBackgroundColor: $orange;
$alertCountTextColor: $white;
$backgroundColor: $white;
$bulletBackgroundColor: $lightGray;
$bulletBackgroundColorActive: $summerSky;
$cardFooterBorderColor: $silverGray;
$cardFooterFontColor: $dimGray;
$backgroundArrowButtonColor: $darkBlue;
$cardTextFontColor: $gray;
$cardTopBackgroundColor: $blue;
$checkboxInputColor: $darkGray;
$checkboxTextColor: $gray;
$dropdownContainerColor: $darkBlue;
$dropdownTextColor: $white;
$errorColor: $red;
$formInputBorderColor: $lighterGrey;
$formInputBorderColor: $lightGray;
$formLocationInputBackgroundColor: $darkBlue;
$formLocationInputBorderColor: $veniceBlue;
$formLocationInputTextColor: $whisper;
$formSearchInputBackgroundColor: $darkBlue;
$formSearchInputBorderColor: $veniceBlue;
$formSearchInputLeftContainerColor: $whisper;
$formSearchInputRightIconColor: $whiskeySour;
$headerBackgroundColor: $darkBlue;
$headerBorderColor: $darkerBlue;
$headerBurgerBorderColor: $dimBlue;
$headerShadowColor: $blackWithOpacity;
$headerLinkBackgroundColor: $darkBlue;
$headerLinkTextColor: $green;
$horizontalDividerColor: $lightGray;
$horizontalDividerLabelColor: $lightGray;
$iconActiveColor: $green;
$iconColor: $white;
$iconArrowColor: $white;
$leftButtonBackgroundColor: $darkBlue;
$leftButtonIconColor: $white;
$linkActiveColor: $green;
$linkColor: $summerSky;
$linkedInButtonBackgroundColor: $darkBlue;
$linkedInButtonTextColor: $white;
$listenButtonBackgroundColor: $middleBlue;
$listenButtonFontColor: $white;
$navigationContainerBackgroundColor: $darkerBlue;
$navigationContainerShadowColor: $blackWithOpacity;
$navigationDesktopBackgroundColor: $darkBlue;
$navigationMobileBackgroundColor: $darkerBlue;
$navigationLinkBackgroundColor: $darkerBlue;
$navigationLinkBorderColor: $veniceBlue;
$navigationLinkTextColor: $white;
$podCastCardBackgroundColor: $silver;
$searchBarContainerColor: $summerSky;
$searchBarTextColor: $white;
$searchButtonBackgroundColor: $darkBlue;
$searchButtonTextColor: $white;
$submitButtonBackgroundColor: $dimGreen;
$submitButtonFontColor: $white;
$titleFontColor: $darkBlue;
