@import './styles/global.scss';

* {
    box-sizing: border-box;
}

body {
    @include bodyText;

    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    font-stretch: 100%;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}
