@import '../../styles/global.scss';

.container {
    align-items: center;
    background: $formLocationInputBackgroundColor;
    border: 1px solid $formLocationInputBorderColor;
    display: flex;
    height: 40px;
    padding: 0 10px;
    width: 100%;
}

.icon {
    color: $formLocationInputTextColor;
    font-size: 20px;
    padding-left: 3px;
}

.input {
    background: $formLocationInputBackgroundColor;
    border: none;
    font-size: 14px;
    margin: 0 10px;
}

.input::-webkit-input-placeholder {
    color: $formLocationInputTextColor;
}
